@use "../../../styles/mixins" as m;
@use "../../../styles/variables" as v;

.heading {
  font-weight: bold;
  background-image: url("/pinzu1.svg");
  background-repeat: no-repeat;
  background-position: 0 50%;
}

h2.heading {
  @include m.text-style(xxl);
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 48px;
  margin-bottom: 16px;
  border-bottom: 4px solid v.$green-600;

  background-size: 36px;
}
